apiVersion: v1
kind: ConfigMap
metadata:
  name: restaurant-config
  namespace: restaurant-app
data:
  NODE_ENV: "production"
  POSTGRES_HOST: "postgres-service"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "auth_db"
  REDIS_HOST: "redis-service"
  REDIS_PORT: "6379"
  KAFKA_BROKER: "kafka-service:9092"
  MONGO_DB_NAME: "restaurant_db"
  # Service URLs for API Gateway
  AUTH_SERVICE_URL: "auth-service:50051"
  RESTAURANT_SERVICE_URL: "orders-service:50052"
  PAYMENT_SERVICE_URL: "http://payments-service:8000"
  FRONTEND_URL: "http://localhost:5173" # Adjust as needed for production
  PAYMENT_RETURN_URL: "http://localhost:3000/payment/callback" # Gateway URL
  BASE_URL: "http://localhost:5173"
  CLIENT_URL: "http://localhost:5173"

---
apiVersion: v1
kind: Secret
metadata:
  name: restaurant-secrets
  namespace: restaurant-app
type: Opaque
data:
  # Values are base64 encoded "postgres" / "password" / etc.
  # Replace with actual base64 values in production
  POSTGRES_USER: cG9zdGdyZXM= # postgres
  POSTGRES_PASSWORD: cG9zdGdyZXM= # postgres
  # Email
  EMAIL_USER: YXV4dWNuQGdtYWlsLmNvbQ==
  EMAIL_PASS: em9nZiB5bGR1IG1jcncgbnd0dg==
  # Real Mongo URI from restaurant-orders/.env
  MONGO_URI: bW9uZ29kYitzcnY6Ly9jcmlzdGlhbm51bmV6X2RiX3VzZXI6RUNKQXlsUVRrUHRRQHJlc3RhdXJhbnRvcmRlcnMubGhxNjZ5YS5tb25nb2RiLm5ldC8/YXBwTmFtZT1yZXN0YXVyYW50T3JkZXJz
  # JWT Secret
  JWT_SECRET: TjVkYzhsUDRPbU5OaEVZaDNRTjF5SEhMejhSdGx3bi9ITE9jMTRxNjJETjRHbzkvWXZidEVMY1NEcFY5TTV6OGI3QTg1TmJLdTNncTNQcmRFdzRwN0E=
  # Admin Registration Key
  ADMIN_REGISTRATION_KEY: bkMwVk13RHVwTTlzYXFKYVkrYmljTUc1OU9ONXo1YlczWVJGMkFBSVJpQT0= 
