apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service
  namespace: restaurant-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-service
  template:
    metadata:
      labels:
        app: payments-service
    spec:
      containers:
        - name: payments-service
          image: restaurant-payments:v2 # Ensure this image is built and available
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: KAFKA_BROKER
              valueFrom:
                configMapKeyRef:
                  name: restaurant-config
                  key: KAFKA_BROKER

---
apiVersion: v1
kind: Service
metadata:
  name: payments-service
  namespace: restaurant-app
spec:
  selector:
    app: payments-service
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
